<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.agoracrsh">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Ágora CRSH"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AgoraCRSH">

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <!-- Pantalla de inicio -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Registro -->
        <activity android:name=".RegisterActivity" android:exported="true" />

        <!-- Vista bienvenida del administrador -->
        <activity android:name=".AdminActivity" android:exported="true" />

        <!-- Menú principal del administrador -->
        <activity android:name=".AdminMenuActivity" android:exported="true" />

        <!-- Pantalla de aprobación de usuarios -->
        <activity android:name=".AceptarUsuariosActivity" android:exported="true" />

        <!-- Pantalla principal para profesor -->
        <activity android:name=".ProfesorActivity" android:exported="true" />

        <!-- Menú de profesor -->
        <activity android:name=".MainActivity" android:exported="true" />
        <!-- Mis reservas para profesor o usuario -->
        <activity android:name=".MisReservasActivity" android:exported="true" />

        <!-- Reserva de salas y Equipos -->
        <activity android:name=".SalaReservaActivity" android:exported="true" />
        <activity android:name=".Sala2ReservaActivity" android:exported="true" />
        <activity android:name=".EquipoReservaActivity" android:exported="true" />

        <!-- Solicitudes para el admin -->
        <activity android:name=".AdminSolicitudesSalaActivity" android:exported="true" />
        <activity android:name=".AdminSolicitudesEquipoActivity" android:exported="true" />

        <!-- Pantalla para que el admin vea todas las reservas -->
        <activity android:name=".CalendarioAdminActivity" android:exported="true"/>
        <!-- Pantalla para que de el inventario del admin -->
        <activity android:name=".InventarioActivity" android:exported="true" />




    </application>
</manifest>
